<%- include('header') -%>

<div class="jumbotron">
    
    <h1 class="text-center pt-4 m-1 text-danger ">Sorry<br><%= message %> <%= error.status %></h1>
</div>
<div class="mt-5 mt-sm-0">
    
        <div class = "container">
        <h3><small>We cannot find the page you are looking for.</small></h3><br>
        <h3><small>It might have been removed, has its name changed, or is temporarily unavailable.</small></h3><br>
        <h3><small>Plese check that Web site address is spelled correctly</small></h3><br>
        <h3><small>Or go to our <a href="/"><kbd class="bg-info">Home Page</kbd></a> and use the menus to navigation to a specific section.</small></h3><br>
        </div>
        
        
</div>


<%- include('footer') -%>
