</body>
<script src="/javascripts/bootstrap.js"></script>
<script src="/javascripts/jquery-3.2.1.min.js"></script>
<script src="/javascripts/popper.min.js"></script>
<script src="/javascripts/bootstrap.min.js"></script>
<script src="/javascripts/script.js"></script>
<script data-ad-client="ca-pub-2936253472850052" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>

</html>